In [1]:
import pandas as pd
import numpy as np

In [2]:
s1= pd.Series(np.random.rand(4))

In [3]:
s1

0    0.418290
1    0.291805
2    0.101519
3    0.916780
dtype: float64

In [4]:
s1.reindex([3,2,1,0])

3    0.916780
2    0.101519
1    0.291805
0    0.418290
dtype: float64

In [5]:
s2 = pd.Series(np.random.rand(100))

In [6]:
s2.head() # for top 5 (default)

0    0.866441
1    0.541802
2    0.168386
3    0.882622
4    0.790452
dtype: float64

In [7]:
s2.tail(3) #for bottom 3

97    0.347928
98    0.751844
99    0.319519
dtype: float64

In [8]:
df = pd.DataFrame(np.arange(9).reshape(3,3), columns=['a','b','c'])

In [9]:
df

   a  b  c
0  0  1  2
1  3  4  5
2  6  7  8

In [10]:
df2 = pd.DataFrame(np.arange(8).reshape(2,4),
                  columns=['a','b','c','d'])

In [11]:
df2

   a  b  c  d
0  0  1  2  3
1  4  5  6  7

In [12]:
df+ df2

     a    b     c   d
0  0.0  2.0   4.0 NaN
1  7.0  9.0  11.0 NaN
2  NaN  NaN   NaN NaN

In [13]:
df3 = df.add(df2, fill_value=0)

In [14]:
df3

     a    b     c    d
0  0.0  2.0   4.0  3.0
1  7.0  9.0  11.0  7.0
2  6.0  7.0   8.0  NaN

In [16]:
df3.sum()

a    13.0
b    18.0
c    23.0
d    10.0
dtype: float64

In [19]:
df3.sum(axis=1)

0     9.0
1    34.0
2    21.0
dtype: float64

In [17]:
df3.sum(skipna=False)

a    13.0
b    18.0
c    23.0
d     NaN
dtype: float64

In [21]:
df3.describe()

              a         b          c         d
count  3.000000  3.000000   3.000000  2.000000
mean   4.333333  6.000000   7.666667  5.000000
std    3.785939  3.605551   3.511885  2.828427
min    0.000000  2.000000   4.000000  3.000000
25%    3.000000  4.500000   6.000000  4.000000
50%    6.000000  7.000000   8.000000  5.000000
75%    6.500000  8.000000   9.500000  6.000000
max    7.000000  9.000000  11.000000  7.000000

In [22]:
df3.describe(percentiles=[0.5,0.8])

              a         b          c         d
count  3.000000  3.000000   3.000000  2.000000
mean   4.333333  6.000000   7.666667  5.000000
std    3.785939  3.605551   3.511885  2.828427
min    0.000000  2.000000   4.000000  3.000000
50%    6.000000  7.000000   8.000000  5.000000
80%    6.600000  8.200000   9.800000  6.200000
max    7.000000  9.000000  11.000000  7.000000

In [23]:
df4 = pd.DataFrame(np.arange(12).reshape(3,4),
                  columns=['b','d','a','c'],
                  index=['x','y','z'])

In [24]:
df4

   b  d   a   c
x  0  1   2   3
y  4  5   6   7
z  8  9  10  11

In [25]:
df4.sort_index(axis=1)

    a  b   c  d
x   2  0   3  1
y   6  4   7  5
z  10  8  11  9

In [26]:
df4.sort(['b','d'],ascending=False)

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

   b  d   a   c
z  8  9  10  11
y  4  5   6   7
x  0  1   2   3