In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.arange(12).reshape(4,3),
                 columns=['a','b','c'])

In [4]:
df

   a   b   c
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [5]:
df2 = df.reindex(columns = ['a','b','c','d'])

In [6]:
df2

   a   b   c   d
0  0   1   2 NaN
1  3   4   5 NaN
2  6   7   8 NaN
3  9  10  11 NaN

In [7]:
df3 = df.reindex([3,2,'a',0])

In [8]:
df3

     a     b     c
3  9.0  10.0  11.0
2  6.0   7.0   8.0
a  NaN   NaN   NaN
0  0.0   1.0   2.0

In [9]:
df3.isnull()

       a      b      c
3  False  False  False
2  False  False  False
a   True   True   True
0  False  False  False

In [11]:
df2.dropna(axis=1)

   a   b   c
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [12]:
dfill = df.reindex([3,2,'a',0], fill_value=0)

In [13]:
dfill

   a   b   c
3  9  10  11
2  6   7   8
a  0   0   0
0  0   1   2

In [14]:
df2.fillna(-1)

   a   b   c    d
0  0   1   2 -1.0
1  3   4   5 -1.0
2  6   7   8 -1.0
3  9  10  11 -1.0