In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

A Series is a one-dimensional array-like object containing a sequence of values and associated array of data labels called index

In [2]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000], index =['USSR','Germany','China','Japan', 'USA'])

In [4]:
#ww2_cas

In [9]:
ww2_cas['USA'] # select value for index "USA"

400000

In [7]:
ww2_cas[ww2_cas >3000000] # select values greater than 3000000

USSR       8700000
Germany    4300000
dtype: int64

In [11]:
'Japan' in ww2_cas # is Japan in this Series?

True

In [12]:
ww2_dict = ww2_cas.to_dict() # convert the series to a dictionary
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [16]:
ww2_series = Series(ww2_dict) # convert dictionary to series
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [17]:
type(ww2_dict)

dict

In [19]:
type(ww2_series)

pandas.core.series.Series