# Series

### One-dimensional object similar to an array, list or column in a table

In [2]:
import numpy as np
import pandas as pd

In [5]:
s1 = pd.Series(np.random.rand(4),
              index=['a','b','c','d'])

In [6]:
s1

a    0.670075
b    0.634710
c    0.995669
d    0.185873
dtype: float64

In [7]:
s2 = pd.Series(np.random.rand(4))

In [8]:
s2

0    0.260151
1    0.039720
2    0.706036
3    0.517365
dtype: float64

To acccess value of Series, by using Index

In [9]:
s1['a']

0.67007450728651186

In [10]:
s2[1]

0.039720154530462404

In [11]:
s3 = pd.Series({'1':'Alice','2':'Bob','3':'Charlie'})

In [12]:
s3

1      Alice
2        Bob
3    Charlie
dtype: object

In [13]:
s4 = pd.Series({'1':'Alice','2':'Bob','3':'Charlie'}, index=['2','3','1','4','5'])

In [14]:
s4

2        Bob
3    Charlie
1      Alice
4        NaN
5        NaN
dtype: object

In [15]:
pd.isnull(s4)

2    False
3    False
1    False
4     True
5     True
dtype: bool

In [16]:
s5 = pd.Series(3.41, index=['x','y','z'])

In [17]:
s5

x    3.41
y    3.41
z    3.41
dtype: float64